*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

html, body{
    height: 100%;
    background-color: black;
}

/* Classes Auxiliares */

.center{
    padding: 0 2%;
}

.right{
    float: right;
}

.left{
    float: left;
}

.clear{
    clear: both;
}

.w33{
    width: 33.3%;
    min-height: 75px;
    float: left;
}

.w50{
    width: 50%;
    float: left;
}

/* Estilizacao */
header{
    z-index: 999;
    position: relative;
}

nav.menu i:hover, nav.menu i:focus{
    color: #555555;
}

nav.menu{
    width: 100%;
    margin-top: 10px;
    text-decoration: none;
}

nav.menu i{
    color: white;
    font-size: 23px;
    cursor: pointer;
}

nav.menu ul{
    list-style-type: none;
}

nav.menu .hidden{
    display: none;
    width: 200px;
    z-index: 999;
    position: absolute;
    text-align: center;
    background-color: rgba(0,0,0,0.2);
}

nav.menu .hidden li{
    padding: 10px 0;
    font-size: 14px;
    font-weight: 100;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

nav.menu .hidden li:hover, nav.menu .hidden li:focus{
    background-color: rgba(255, 255, 255, 0.2);
}

nav.menu a{
    text-decoration: none;
    color: whitesmoke;
}

nav.menu .hidden a:hover, nav.menu .hidden a:focus{
    color: #777;
}

.logo{
    height: 75px;
    background-image: url("../assets/nl-logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

nav.menu .visibleMenu{
    font-size: 14px;
    font-weight: 100;
}

nav.menu .visibleMenu li{
    float: left;
    margin: 0 20px;
}

.visibleMenu a:hover{
    color: #555555;
}

.mainSection{
    width: 100%;
    height: 700px;
    background-color: #777;
    position: absolute;
    top: 0;
    left: 0;
}

.tituloDestaque{
    width: 450px;
    height: 200px;
    margin-top: 300px;
}

.tituloDestaque h1{
    color: white;
    font-size: 48px;
    font-weight: 700;
}

.tituloDestaque h2{
    color: white;
    font-size: 18px;
    font-weight: 100;
}

.tituloDestaque .botaoDestaque{
    min-width: 110px;
    padding: 5px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    vertical-align: middle;
}

.tituloDestaque .botaoDestaque:hover{
    background-color: rgba(58, 58, 58, 0.2);
}

.botaoDestaque span{
    font-size: 8px;
}

.botaoDestaque h3{
    text-align: center;
    color: white;
    font-size: 14px;
}

.sundayServices{
    margin-top: 625px;
    position: relative;
}

.sundayServices h1{
    color: white;
    padding: 20px 0;
    font-size: 30px;
}
